body{
  background-color: #101922;
  font-family: "Inter", sans-serif;
  color: #cfd1d2;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  //justify-content: center;
  //margin: 0;
  //color: #d4d4d4;
  //display: flex;
  //flex-direction: column;
  //font-family: "JetBrains Mono", serif;
  //height: 100vh;
  //box-sizing: border-box;
}

#time-and-link {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem
}

#main-page-link {
  color: #ffffff;
  background-color: #8b5cf6;
  border: solid #8b5cf6;
  padding: 0.5rem 3rem;
}