.clock {
  padding: 1rem 3rem;
  background-color: #1a242f;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 3rem;
  //font-weight: bolder;
  font-weight: 500;
  border-radius: 0.75rem;
  color: #ffffff;
  //margin-top: auto;
  //margin-bottom: auto;
}

#clock {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.clock-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.clock-label {
  color: #969a9d;
}