header {
  //font-size: 1rem;
  //background-color: #1e1e1e;
  height: auto;
  border-bottom: solid #283039 1px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  gap: 2rem;
  padding-right: 2rem;
  h2 {
    margin: 0 0 0 1.5rem;
    align-content: center;
    padding-top: 16px;
    padding-bottom: 2px;
    font-size: 1.5rem;
  }
}

#author-info {
  width: 100%;
  //height: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 2rem;
}

header p{
  margin: 0;
  padding-top: 16px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  //text-align: center;
}

@media(max-width: 890px){
  h2 {
    display: none;
  }
}
//#app-name{
//  display: inline-block;
//  padding-left: 2rem;
//}