@import '../variables';
body #time-and-link #main-page-link {
  border-radius: 0.3rem;
  border: 0;
  padding: 6px 14px 6px 14px;
  background-color: $accent-color;
  &.ui-state-focus{
    box-shadow: 0 0 12px $accent-color;
  }

  a {
    text-decoration: none;
  }
  span {
    font-size: 20px;
    line-height: 1;
  }
}