$main-background-color: #101922;
$header-text-color: #ffffff;
$main-text-color: #e3e4e6;
$back-text-color: #bcc5cf;
$disabled-text-color: #4e5055;

$element-background-color: #111418;
$accent-color: #8b5cf6;
$input-background-color: #283039;
$clear-button-background-color: #4a426e;
$clear-button-text-color: #c4b5fd;