@import "../variables";
body {
  background-color: $main-background-color;
  color: $main-text-color;
  font-family: 'Inter', sans-serif;
  padding: 0 40px;
  margin-bottom: 20px;
}

#form-and-graph {
  display: flex;
  flex-direction: row;
  gap: 25px 3%;
  margin-bottom: 25px;
  flex-wrap: wrap;
}






